<a href="https://colab.research.google.com/github/jvrupp/EstatisticaML/blob/main/CursoDeEstatisticaPopulacaoAmostra.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

Popula√ßao e amostra


*   Tabela de numeros aleatorios

In [2]:
import numpy as np
import pandas as pd
import random

In [3]:
escolhidos = [ i for i in np.random.randint(400,size=400) if 100/i <= 1 ][-10:]
escolhidos

[187, 275, 362, 399, 280, 383, 136, 346, 171, 102]

# **Amostragem:**

In [4]:
#Importando a base de dados
censu = pd.read_csv('/content/drive/MyDrive/EstatisticaDados/census.csv')
np.unique(censu['income'],return_counts=True)

(array([' <=50K', ' >50K'], dtype=object), array([24720,  7841]))

Amostragem aleatoria simples

In [5]:
#amostra Aleatoria simples
df_amostra_aleatoria_simples=censu.sample(10,random_state=1)
df_amostra_aleatoria_simples

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
9646,62,Self-emp-not-inc,26911,7th-8th,4,Widowed,Other-service,Not-in-family,White,Female,0,0,66,United-States,<=50K
709,18,Private,208103,11th,7,Never-married,Other-service,Other-relative,White,Male,0,0,25,United-States,<=50K
7385,25,Private,102476,Bachelors,13,Never-married,Farming-fishing,Own-child,White,Male,27828,0,50,United-States,>50K
16671,33,Private,511517,HS-grad,9,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,40,United-States,<=50K
21932,36,Private,292570,11th,7,Never-married,Machine-op-inspct,Unmarried,White,Female,0,0,40,United-States,<=50K
31503,34,Private,167893,Some-college,10,Married-civ-spouse,Prof-specialty,Husband,White,Male,0,0,64,United-States,>50K
3308,43,Private,334946,HS-grad,9,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4208,47,Local-gov,154940,Masters,14,Never-married,Prof-specialty,Not-in-family,White,Female,0,0,45,United-States,>50K
21078,29,Private,164040,HS-grad,9,Married-civ-spouse,Other-service,Husband,White,Male,0,0,40,United-States,<=50K
27354,23,Private,60331,Some-college,10,Divorced,Exec-managerial,Not-in-family,White,Male,0,0,50,United-States,<=50K

Amostragem Sistematica

In [6]:
#definindo a primeira posicao
amostra=100
random.seed(1)
escolhidosAS={}
passo=random.randint(0,len(censu)//amostra)
for i in range(10):

  passo=passo+325
  escolhidosAS[passo]=censu.iloc[passo,:]
escolhidosAS=pd.DataFrame(escolhidosAS)
escolhidosAS.T

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income
393,34,State-gov,98101,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,45,?,>50K
718,22,Private,214399,Some-college,10,Never-married,Sales,Own-child,White,Female,0,0,15,United-States,<=50K
1043,44,Private,167005,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,7688,0,60,United-States,>50K
1368,52,Private,152234,HS-grad,9,Married-civ-spouse,Exec-managerial,Husband,Asian-Pac-Islander,Male,99999,0,40,Japan,>50K
1693,53,State-gov,281590,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K
2018,39,Private,505119,Masters,14,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,40,Cuba,>50K
2343,21,Private,191460,11th,7,Never-married,Other-service,Unmarried,Black,Female,0,0,40,United-States,<=50K
2668,37,Self-emp-not-inc,243587,Some-college,10,Separated,Other-service,Own-child,White,Female,0,0,40,Cuba,<=50K
2993,29,Private,100405,10th,6,Married-civ-spouse,Farming-fishing,Wife,Amer-Indian-Eskimo,Female,0,0,40,United-States,<=50K
3318,26,Private,159732,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,<=50K

In [7]:
np.arange(68,len(censu),step=325)

array([   68,   393,   718,  1043,  1368,  1693,  2018,  2343,  2668,
        2993,  3318,  3643,  3968,  4293,  4618,  4943,  5268,  5593,
        5918,  6243,  6568,  6893,  7218,  7543,  7868,  8193,  8518,
        8843,  9168,  9493,  9818, 10143, 10468, 10793, 11118, 11443,
       11768, 12093, 12418, 12743, 13068, 13393, 13718, 14043, 14368,
       14693, 15018, 15343, 15668, 15993, 16318, 16643, 16968, 17293,
       17618, 17943, 18268, 18593, 18918, 19243, 19568, 19893, 20218,
       20543, 20868, 21193, 21518, 21843, 22168, 22493, 22818, 23143,
       23468, 23793, 24118, 24443, 24768, 25093, 25418, 25743, 26068,
       26393, 26718, 27043, 27368, 27693, 28018, 28343, 28668, 28993,
       29318, 29643, 29968, 30293, 30618, 30943, 31268, 31593, 31918,
       32243])

Amostragem Por Grupos

In [8]:
n_grupos = 120
qtdpGrupo=len(censu)/n_grupos
qtdpGrupo
index = 0
grupo=[]
grupoi=0
for r in censu.iterrows():
  index=index+1
  grupo.append(grupoi)
  if index >=qtdpGrupo:
    index=0
    grupoi=grupoi+1
grupo=pd.Series(grupo)
censu['grupo']=grupo
censu[censu['grupo']==119]

,age,workclass,final-weight,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loos,hour-per-week,native-country,income,grupo
32368,41,Private,220460,HS-grad,9,Never-married,Sales,Own-child,White,Male,0,0,40,United-States,<=50K,119
32369,22,Private,174043,HS-grad,9,Never-married,Craft-repair,Not-in-family,White,Male,0,0,50,United-States,<=50K,119
32370,53,Self-emp-not-inc,137547,Prof-school,15,Never-married,Prof-specialty,Not-in-family,Asian-Pac-Islander,Male,27828,0,40,Philippines,>50K,119
32371,49,Self-emp-not-inc,111959,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,Scotland,>50K,119
32372,51,Private,40641,Some-college,10,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,60,United-States,>50K,119
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
32556,27,Private,257302,Assoc-acdm,12,Married-civ-spouse,Tech-support,Wife,White,Female,0,0,38,United-States,<=50K,119
32557,40,Private,154374,HS-grad,9,Married-civ-spouse,Machine-op-inspct,Husband,White,Male,0,0,40,United-States,>50K,119
32558,58,Private,151910,HS-grad,9,Widowed,Adm-clerical,Unmarried,White,Female,0,0,40,United-States,<=50K,119
32559,22,Private,201490,HS-grad,9,Never-married,Adm-clerical,Own-child,White,Male,0,0,20,United-States,<=50K,119
32560,52,Self-emp-inc,287927,HS-grad,9,Married-civ-spouse,Exec-managerial,Wife,White,Female,15024,0,40,United-States,>50K,119

Amostra estratificada
Ex:
54 Mulheres , 36 Homens
(tot_tipo*percentil_requerido)/100
(54*10)/100=5,4 (5) mulheres
(36*10)/100=3,6 (3) mulheres

In [27]:
from sklearn.model_selection import StratifiedShuffleSplit

divisor=StratifiedShuffleSplit(test_size=0.1)
for tot,tot_prop in divisor.split(censu,censu['income']):
  totdf=censu.iloc[tot,:]
  tot_propdf=censu.iloc[tot_prop,:]

(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)
(29304, 16)

Amostra por reservatorio

Classifica√ßao:Naive Bayes

In [152]:
risco=pd.read_csv('/content/drive/MyDrive/DadosML/credit_data.csv')
#risco.replace({'0_15':'<15.000','15_35':'>=15.000 a <=35.000','acima_35':'>35.000'},inplace=True)
np.unique(risco.iloc[:,-1],return_counts=True)
risco=risco.dropna()

In [153]:
from sklearn.naive_bayes import GaussianNB
from sklearn.model_selection import train_test_split

In [162]:
X_train, X_test, y_train, y_test = train_test_split(risco.iloc[:,1:-1], risco.iloc[:,-1] , test_size=0.2, random_state=32)
clf=GaussianNB()
clf.fit(X_train,y_train)
pred=clf.predict(X_test)
from sklearn.metrics import accuracy_score
from sklearn.metrics import classification_report
accuracy_score(y_test,pred)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.93      0.97      0.95       346
           1       0.77      0.56      0.65        54

    accuracy                           0.92       400
   macro avg       0.85      0.76      0.80       400
weighted avg       0.91      0.92      0.91       400

Subamostragem e Sobreamostragem

Undersampling - TomekLinks

In [155]:
from imblearn.under_sampling import TomekLinks

In [156]:
tl=TomekLinks(sampling_strategy='majority')#remove a maioria
X_res,Y_res=tl.fit_resample(risco.iloc[:,1:-1],risco.iloc[:,-1])

In [161]:
X_train, X_test, y_train, y_test = train_test_split(X_res, Y_res , test_size=0.2, random_state=32)
clf2=GaussianNB()
clf2.fit(X_train,y_train)
pred=clf2.predict(X_test)
from sklearn.metrics import accuracy_score
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.94      0.97      0.95       322
           1       0.79      0.66      0.72        58

    accuracy                           0.92       380
   macro avg       0.87      0.81      0.84       380
weighted avg       0.92      0.92      0.92       380

Oversampling -SMOTE

In [164]:
from imblearn.over_sampling import SMOTE

In [165]:
smt=SMOTE(sampling_strategy='minority')#aumenta a minoria
X_res, Y_res=smt.fit_resample(risco.iloc[:,1:-1],risco.iloc[:,-1])

In [166]:
X_train, X_test, y_train, y_test = train_test_split(X_res, Y_res , test_size=0.2, random_state=32)
clf3=GaussianNB()
clf3.fit(X_train,y_train)
pred=clf3.predict(X_test)
from sklearn.metrics import accuracy_score
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

           0       0.97      0.86      0.91       342
           1       0.88      0.97      0.92       344

    accuracy                           0.92       686
   macro avg       0.92      0.92      0.92       686
weighted avg       0.92      0.92      0.92       686

EXERCICIO

In [206]:
from sklearn.preprocessing import LabelEncoder
ebay_data=pd.read_csv('/content/drive/MyDrive/EstatisticaDados/csv_result-ebay_confianca_completo.csv')
ebay_data.head()
lbl=LabelEncoder()
ebay_data['blacklist']=lbl.fit_transform(ebay_data['blacklist'])
X=ebay_data.iloc[:,:-1]
Y=ebay_data.iloc[:,-1]

In [212]:
smt=SMOTE(sampling_strategy='minority')#aumenta a minoria
X_res, Y_res=smt.fit_resample(X,Y)
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test =train_test_split(X_res,Y_res,test_size=0.2)
RFC=RandomForestClassifier()
RFC.fit(X_train,y_train)
pred=RFC.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         Bom       0.82      0.80      0.81       840
        Ruim       0.81      0.83      0.82       880

    accuracy                           0.81      1720
   macro avg       0.81      0.81      0.81      1720
weighted avg       0.81      0.81      0.81      1720

In [207]:
tml=TomekLinks(sampling_strategy='majority')#diminui a maioria 
X_res, Y_res=tml.fit_resample(X,Y)
from sklearn.ensemble import RandomForestClassifier
X_train, X_test, y_train, y_test =train_test_split(X_res,Y_res,test_size=0.2)
RFC=RandomForestClassifier()
RFC.fit(X_train,y_train)
pred=RFC.predict(X_test)
print(classification_report(y_test,pred))

              precision    recall  f1-score   support

         Bom       0.73      0.99      0.84       785
        Ruim       0.62      0.05      0.10       299

    accuracy                           0.73      1084
   macro avg       0.67      0.52      0.47      1084
weighted avg       0.70      0.73      0.64      1084

In [204]:
#O melhor √© neste caso √© usar o smot para CRIAR valores sinteticos da classe minoritaria

In [211]:
Y_res.value_counts()

Bom     3910
Ruim    1507
Name: reputation, dtype: int64